In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
data=pd.read_csv("UpdatedResumeDataSet.csv")

In [3]:
data.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [7]:
data['Category'].value_counts()

Category
Java Developer               84
Testing                      70
DevOps Engineer              55
Python Developer             48
Web Designing                45
HR                           44
Hadoop                       42
Blockchain                   40
ETL Developer                40
Operations Manager           40
Data Science                 40
Sales                        40
Mechanical Engineer          40
Arts                         36
Database                     33
Electrical Engineering       30
Health and fitness           30
PMO                          30
Business Analyst             28
DotNet Developer             28
Automation Testing           26
Network Security Engineer    25
SAP Developer                24
Civil Engineer               24
Advocate                     20
Name: count, dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  962 non-null    object
 1   Resume    962 non-null    object
dtypes: object(2)
memory usage: 15.2+ KB

In [9]:
data.describe()

              Category                                             Resume
count              962                                                962
unique              25                                                166
top     Java Developer  Technical Skills Web Technologies: Angular JS,...
freq                84                                                 18

In [10]:
data.isna().sum()

Category    0
Resume      0
dtype: int64

In [12]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [16]:
import re
from nltk.corpus import stopwords

In [17]:
def clean_text(text):
    text=text.lower()
    text = re.sub(r'(http|https|ftp|ssh)://[^\s]+', '', text)
    text = re.sub(r'\S+@\S+', '', text)
    text = re.sub(r'<.*?>', '', text)
    text=re.sub(r'[^a-zA-Z0-9]',' ',text)
    text = re.sub(r'\s+', ' ', text).strip()
    words=text.split()
    words=[word for word in words if not word in set(stopwords.words('English'))]
    text=' '.join(words)
    return text

In [18]:
data['Resume']=data['Resume'].apply(clean_text)

In [19]:
data.head()

       Category                                             Resume
0  Data Science  skills programming languages python pandas num...
1  Data Science  education details may 2013 may 2017 b e uit rg...
2  Data Science  areas interest deep learning control system de...
3  Data Science  skills r python sap hana tableau sap hana sql ...
4  Data Science  education details mca ymcaust faridabad haryan...

In [20]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [26]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

In [27]:
def get_pos(word):
    tag=nltk.pos_tag([word])[0][1][0].upper()
    tag_dict={
        'J':wordnet.ADJ,
        'N':wordnet.NOUN,
        'V':wordnet.VERB,
        'R':wordnet.ADV
    }
    return tag_dict.get(tag,wordnet.NOUN)

lemmatizer=WordNetLemmatizer()    
def data_lemmatize(text):
    words=text.split()
    words=[lemmatizer.lemmatize(word,get_pos(word)) for word in words]
    text=' '.join(words)
    return text

In [28]:
data['Resume']=data['Resume'].apply(data_lemmatize)

In [29]:
data.head()

       Category                                             Resume
0  Data Science  skill program language python panda numpy scip...
1  Data Science  education detail may 2013 may 2017 b e uit rgp...
2  Data Science  area interest deep learn control system design...
3  Data Science  skill r python sap hana tableau sap hana sql s...
4  Data Science  education detail mca ymcaust faridabad haryana...

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [32]:
X=data.drop('Category',axis=1)
y=data['Category']

In [33]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [34]:
label_enc=LabelEncoder()
y_train_enc=label_enc.fit_transform(y_train)

In [35]:
y_test_enc=label_enc.transform(y_test)

In [37]:
y_train_enc[:5]

array([12,  8, 16,  9, 15])